.card {
    width: 18rem;   
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.cart-icon {
    margin-right: 0.3rem;
}